* {
    box-sizing:border-box;
    height:100%;
    padding:0;
    margin:0;
    font-family: 'Roboto';
    }
    
    #container {
    float:left; 
    width:100%;
    background-image: url('bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    }
    span#heading{
    float:center;
    opacity:0.5;
    background: #e4e4e4;
    color:black;
    height:30px;
    }
    ul {
        text-align:center;
        background: #e4e4e4;
        margin:0;
        height:40px;
        cursor: default;
        opacity:0.8;
    }
    
    li {
        display:inline;
        background: #e4e4e4;
        text-align: center;
        height:30px;
        padding: 5px 5px 5px 5px;
        line-height:40px;
        font-size: 15px;
        margin:0;
        width:15px;
    }
    li:hover {
        background: #d4d4d4;
        }
    a {
    text-decoration: none;
    color:black;
    opacity:0.8;
    width:100%;
    height:20px;
    }
    a:hover {
    background: #d4d4d4;
    opacity:0.8;
       
    }
    #generated {
    display:block;
    height:6%;
    margin:0 auto;
    text-align:center;
    font-size:36px;
    width:60%;
    background:white;
    margin-top:200px;
    position:relative;
    color:#e4e4e4;
    opacity:0.8;
    }
    button {
    float:center;
    display:block;
    width:300px;
    height:100px;
    position:static;
    margin:20px auto 20px auto;
    padding:10px 25px;
    font-size:48px;
    background:#e4e4e4;
    border:none;
    opacity:0.7;
    
    }
    button:hover {
    background:#d4d4d4;
    }
    button:focus {
    outline:none;
    }